<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kcse grade calculator</title>
</head>

<body>
  <h1 class="text-center m-5">Ksce gpa grade calculator</h1>



  <div class=" d-flex justify-content-center">

    <form #details="ngForm" (ngSubmit)="submit(details)">

      <div class="form-group col-xs-4">
        <label for="name">Enter Name :</label>
        <input [(ngModel)]="name"  type="text" class="form-control" id="name"  placeholder="Enter candidates Name" name="name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group input-group mb-3">
        <div class="input-group-append me-4">
          <label class="input-group-text" for="math">Mathematics :</label>
        </div>
        <select ngModel class="custom-select p-2" id="math" name="math">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4 ">
          <label class="input-group-text" for="eng">English : &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="eng" name="eng">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="kisw">Kiswahili :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="kisw" name="kisw">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="bio">Biology :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="bio" name="bio">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="chem">Chemistry :&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="chem" name="chem">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="his">History : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        </div>
        <select ngModel class="custom-select p-2" id="his" name="his">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="biz">Business :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="biz" name="biz">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="agri">Agriculture :&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="agri" name="agri">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="geo">Geography :</label>
        </div>
        <select ngModel class="custom-select p-2" id="geo" name="geo">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="phy">Physics :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <select ngModel class="custom-select p-2" id="phy" name="phy">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>
      <div class="form-group input-group mb-3">

        <div class="input-group-append me-4">
          <label class="input-group-text" for="ho">HomeScience :</label>
        </div>
        <select ngModel class="custom-select p-2" id="ho" name="ho">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>

        </select>

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>
